.wrapper{
  padding: 50px 68px 63px 68px;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  .results{
    font-size: 1rem;
    font-weight: 700;
    margin: 20px 8px;
    border-bottom: 2px solid #EAEAEA;
    p{
      box-sizing: content-box!important;
    }
      }
  .characters{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
